.shadow img {
  box-shadow:0 10px 16px 10px rgba(0,0,0,0.2), 0 6px 20px 10px rgba(0,0,0,0.19) !important;
}

.reveal pre code {
    font-size: 1.5em;
    line-height: 1.4em;
}

ul li.visible {
  padding-bottom: 10px;
}
