<style>
  .footer {
    background: white;
    padding-bottom: 15px;
    padding-top: 15px;
  }
</style>

<!-- <footer class="main-footer"> -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img
          class="image-responsive"
          alt="Argentina.gob.ar - Presidencia de la Nación"
          src="img/argentinagob.svg"
          height="50" />
      </div>
    </div>
  </div>
</footer>
