<script>
  export let title = 'title'
  export let field = title
  export let order

          // <!-- <th on:click={() => order = 'cuit'}>Cuit {#if order==='cuit'}<i class="fa fa-sort-amount-asc" />{/if}</th> -->
          // <Header bind:order={order} title="Cuit" field="cuit" />
          // <Header bind:order={order} title="Razón Social" field="razon_social" />
          // <Header bind:order={order} title="Fecha" field="fecha_alta" />
          // <Header bind:order={order} title="Tipo Infraccion" field="tipo_infraccion" />
          // <Header bind:order={order} title="Domicilio" field="domicilio_relevamiento" />
          // <Header bind:order={order} title="Provincia" field="provincia" />
          // <Header bind:order={order} title="Localidad" field="localidad" />

</script>

<style>
  th {
    cursor:pointer
  }
</style>

<th on:click={() => order = field}>{title} {#if order===field}<i class="fa fa-sort-amount-asc" />{/if}</th>
