<script>
  import { slide } from 'svelte/transition';

  import Header from './Header.svelte'

  const endpoint = 'https://repsalapi.opensas.now.sh/sanciones?len=15'

  let showMessage = true

  let filter = ''
  let order = ''

  let sanciones = []
  const buscar = async () => {
    const url = endpoint + `&filter=${filter}&order=${order}`

    console.log(url)
    const data = await fetch(url)
    sanciones = await data.json()
  }

  $: buscar(), order

  buscar()
</script>


<style>
  span.buscar {
    background-color: #0072bb;
    color: #fff;
    font-size: 16px;
  }
  div.container-fluid {
    padding-top: 20px
  }
  .table th {
    cursor:pointer
  }
</style>

<div class="container-fluid">
  {#if showMessage}
  <div transition:slide class="alert alert-info alert-dismissible">
   <button on:click={() => showMessage = false }
      type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h5>Buscador de REPSAL</h5>
  <p>
      Esta buscador permite realizar búsquedas en el REPSAL (Registro Público de Empleadores con
      Sanciones Laborales).
    </p>
  </div>
  {/if}

  <div class="row">
    <div class="form-group col-xs-12 item-form">
      <div class="input-group">
        <input bind:value={filter} on:keydown={ e => { if (e.key === 'Enter') buscar() } }
          placeholder="ingrese términos de búsqueda" aria-label="Código de area de teléfono móvil" class="form-control" id="cellphone_area_code"
          required="" aria-required="true" type="text"
        >
        <span class="input-group-addon buscar" on:click={() => buscar()}><i class="icono-arg-lupa"></i></span>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed">
      <thead>
        <tr>
          <!-- <th on:click={() => order = 'cuit'}>Cuit {#if order==='cuit'}<i class="fa fa-sort-amount-asc" />{/if}</th> -->
          <Header bind:order={order} title="Cuit" field="cuit" />
          <Header bind:order={order} title="Razón Social" field="razon_social" />
          <Header bind:order={order} title="Fecha" field="fecha_alta" />
          <Header bind:order={order} title="Tipo Infraccion" field="tipo_infraccion" />
          <Header bind:order={order} title="Domicilio" field="domicilio_relevamiento" />
          <Header bind:order={order} title="Provincia" field="provincia" />
          <Header bind:order={order} title="Localidad" field="localidad" />
        </tr>
      </thead>
      <tbody>
        {#each sanciones as s}
        <tr>
          <td>{s.cuit}</td>
          <td>{s.razon_social}</td>
          <td>{s.fecha_alta.substring(0,10)}</td>
          <td>{s.tipo_infraccion}</td>
          <td>{s.domicilio_relevamiento}</td>
          <td>{s.provincia}</td>
          <td>{s.localidad}</td>
        </tr>
        {/each}
      </tbody>
    </table>
  </div>
</div>
