<style>
  span.buscar {
    background-color: #0072bb;
    color: #fff;
    font-size: 16px;
  }
  div.container-fluid {
    padding-top: 20px
  }
  .table th {
    cursor:pointer
  }
</style>

<div class="container-fluid">
  <div class="alert alert-info alert-dismissible">
   <button
      type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h5>Buscador de REPSAL</h5>
  <p>
      Esta buscador permite realizar búsquedas en el REPSAL (Registro Público de Empleadores con
      Sanciones Laborales).
    </p>
  </div>

  <div class="row">
    <div class="form-group col-xs-12 item-form">
      <div class="input-group">
        <input
          placeholder="ingrese términos de búsqueda" aria-label="Código de area de teléfono móvil" class="form-control" id="cellphone_area_code"
          required="" aria-required="true" type="text"
        >
        <span class="input-group-addon buscar"><i class="icono-arg-lupa"></i></span>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>Cuit <i class="fa fa-sort-amount-asc"></th>
          <th>Razón Social</th>
          <th>Fecha</th>
          <th>Tipo Infracción</th>
          <th>Domicilio</th>
          <th>Provincia</th>
          <th>Localidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20040340859</td>
          <td>ALVAREZ LENER JULIO PABLO</td>
          <td>2017-06-14</td>
          <td>Falta de Registro del Trabajador</td>
          <td>LAVALLE 1755</td>
          <td>CIUDAD DE BUENOS AIRES</td>
          <td>CABA</td>
        </tr>
        <tr>
          <td>20040482165</td>
          <td>SZLECHTER JOSE MARCOS</td>
          <td>2018-05-08</td>
          <td>Falta de Registro del Trabajador</td>
          <td>POTOSI 4006</td>
          <td>CIUDAD DE BUENOS AIRES</td>
          <td>CABA</td>
        </tr>
        <tr>
          <td>20041114445</td>
          <td>GALACHO DARDO MANUEL</td>
          <td>2019-03-26</td>
          <td>Falta de Inscripción del Empleador</td>
          <td>PAYSANDU 1019</td>
          <td>CIUDAD DE BUENOS AIRES</td>
          <td>CAPITAL FEDERAL</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
