<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf8'>
  <meta name='viewport' content='width=device-width'>

  <title>Buscador de REPSAL</title>

  <link rel='icon' type='image/png' href='/favicon.png'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://qa-poncho.argentina.gob.ar/dist/css/poncho.min.css">
  <!-- <link rel="stylesheet" href="https://qa-poncho.argentina.gob.ar/dist/icono-arg.css"> -->
  <link rel="stylesheet" href="https://argob.github.io/poncho/node_modules/argob-poncho/dist/icono-arg.css">
  <link rel="stylesheet" href="https://qa-poncho.argentina.gob.ar/dist/css/argentina.css">

  <style>
    span.buscar {
      background-color: #0072bb;
      color: #fff;
      font-size: 16px;
    }

    div.container-fluid {
      padding-top: 20px
    }
    .table th {
      cursor:pointer
    }
  </style>

  <script>
    window.onload = () => {
      let form = document.getElementsByTagName('form')[0]
      let orderInput = document.getElementsByName('order')[0]

      window.submit = () => form.submit()

      window.orderBy = (value) => {
        if (value !== undefined && value !== orderInput.value) {
          orderInput.value = value
          submit()
        }
      }

      document.querySelector('th[field="cuit"').onclick = () => orderBy('cuit')
      document.querySelector('th[field="razon_social"').onclick = () => orderBy('razon_social')
      document.querySelector('th[field="fecha_alta"').onclick = () => orderBy('fecha_alta')
      document.querySelector('th[field="tipo_infraccion"').onclick = () => orderBy('tipo_infraccion')
      document.querySelector('th[field="domicilio_relevamiento"').onclick = () => orderBy('domicilio_relevamiento')
      document.querySelector('th[field="provincia"').onclick = () => orderBy('provincia')
      document.querySelector('th[field="localidad"').onclick = () => orderBy('localidad')

      //document.getElementById('buscarButton').onclick = () => submit()
      document.querySelector('span.buscar').onclick = () => submit()

      document.querySelector('div.alert button.close').onclick = () => {
        document.querySelector('input[name="alert"]').value = 'false'
        document.querySelector('div.alert').style.display = 'none'
      }
    }

  </script>

</head>

<body>

  <div class="container-fluid">
    {{#if alert}}
    <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h5>Buscador de REPSAL</h5>
      <p>
        Esta buscador permite realizar búsquedas en el REPSAL (Registro Público de Empleadores con
        Sanciones Laborales).
      </p>
    </div>
    {{/if}}
    <form id="form" action="/" method="post">
      <input name="order" value="{{order}}" type="hidden"/>
      <input name="alert" value="{{alert}}" type="hidden"/>
      <div class="row">
        <div class="form-group col-xs-12 item-form">
          <div class="input-group">
            <input name="filter" value="{{filter}}" placeholder="ingrese términos de búsqueda" aria-label="Código de area de teléfono móvil"
              class="form-control" id="cellphone_area_code" required="" aria-required="true" type="text">
            <span class="input-group-addon buscar"><i id="buscarButton" class="icono-arg-lupa"></i></span>
          </div>
          <p class="help-block error hidden">Ingresá el código de área</p>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th field="cuit">Cuit{{#if sorted_by_cuit}} <i class="fa fa-sort-amount-asc"></i>{{/if}}</th>
            <th field="razon_social">Razón Social{{#if sorted_by_razon_social}} <i class="fa fa-sort-amount-asc"></i>{{/if}}</th>
            <th field="fecha_alta">Fecha{{#if sorted_by_fecha_alta}} <i class="fa fa-sort-amount-asc"></i>{{/if}}</th>
            <th field="tipo_infraccion">Tipo Infracción{{#if sorted_by_tipo_infraccion}} <i class="fa fa-sort-amount-asc"></i>{{/if}}</th>
            <th field="domicilio_relevamiento">Domicilio{{#if sorted_by_domicilio_relevamiento}} <i class="fa fa-sort-amount-asc"></i>{{/if}}</th>
            <th field="localidad">Localidad{{#if sorted_by_localidad}} <i class="fa fa-sort-amount-asc"></i>{{/if}}</th>
            <th field="provincia">Provincia{{#if sorted_by_provincia}} <i class="fa fa-sort-amount-asc"></i>{{/if}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each sanciones}}
          <tr>
            <td>{{cuit}}</td>
            <td>{{razon_social}}</td>
            <td>{{fecha_alta}}</td>
            <td>{{tipo_infraccion}}</td>
            <td>{{domicilio_relevamiento}}</td>
            <td>{{localidad}}</td>
            <td>{{provincia}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</body>
</html>
